.container {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-row-gap: 20px;
}

.box {
  display: flex;
  width: 120px;
  height: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.aqua {
  background-color: aqua;
}

.purple {
  background-color: purple;
}

.traffic_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.traffic-light-container {
  background-color: #000;
  border-radius: 8px;
  display: flex;
  padding: 8px;
  gap: 8px;
}

.traffic-light-container--vertical {
  flex-direction: column;
}

.traffic-light {
  --size: 50px;
  background-color: #555;
  border-radius: var(--size);
  height: var(--size);
  width: var(--size);
}
